/*color pallet
green: #119396
orange: #f94701
orange (medium): #ff6802
orange 2 (lighter): #fedcce
white: #ffffff
grey: #999b9d
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --green: #119396;
    --orange: #ff4b10;
    --orange-medium: #ff6802;
    --orange-lighter: #fedcce;
    --white: #ffffff;
    --grey: #999b9d;
}

body, html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.homepage{
    display: flex;
    height: 100%;
}

.menu{
    flex: 2;
    background-color: var(--orange);
    justify-content: center;
    text-align: center;
}

.logo{
    border-radius: 3rem;
}

.title{
   margin: 4rem;
   font-size: larger;
}

.list-of-options{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a{
    text-decoration: none;
    color: var(--white);
}

a:hover{
    color: black;
}

.principal{
    flex: 5;
    background-color: var(--orange-lighter)
}

.wrap{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.search {
    width: 50%;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid var(--green);
    border-radius: 2rem 0 0 2rem;
    border-right: none;
    padding: 5px;
    height: 100%;
    outline: none;
    color: var(--green);
  }
  
  .searchTerm:focus{
    color: var(--green);
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid var(--green);
    background: var(--green);
    text-align: center;
    color: #fff;
    border-radius: 0 2rem 2rem 0;
    cursor: pointer;
    font-size: 20px;
  }

.list-of-motoboys{
    overflow-y: auto;
    max-height: 80vh;
}

.list-of-motoboys::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.list-of-motoboys::-webkit-scrollbar-thumb {
    background: transparent;
}

.item-of-list{
    display: none;
    gap: 5rem;
    margin: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    background-color: var(--white);
    transition: none !important;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.item-of-list button{
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: 1rem;
    color: var(--white);
    cursor: pointer;
}

.item-of-list:hover {
    cursor: pointer;
}

.info-personal{
    display: flex;
    flex-direction: column;
    flex: 7;
    text-align: start;
    gap: 1rem;
    
}

.personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
}

.p-bold{
    font-weight: bolder;
    color: black;
}

.picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-buttons{
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 0.5rem;

}

.edit{
    background-color: #11949680;
}

.edit:hover{
    background-color: var(--green)
}

.delete{
    background-color: #ff4c107c;
}

.delete:hover{
    background-color: var(--orange)
}

.info{
    background-color: var(--orange-medium);
    display: none;
    flex-direction: column;
    flex: 3;
    justify-content: center;
    align-items: center;
    
}

.info-motoboy{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/*Media queries */
@media only screen and (min-width: 768px) {
   .principal{
    display: block;
    
   }

   .back-button{
    display: none;
   }
}

@media only screen and (max-width: 767px) {
    .principal{
       display: none;
    }

    .back-button{
        display: block;
        position: fixed;
        bottom: 20px;
        left: 20px;
        z-index: 999;      
        border: 1px solid var(--white);
        background: var(--white);
        text-align: center;
        color: #000000;
        border-radius: 2rem;
        cursor: pointer;
        font-size: 20px;  
        padding: 10px;
    }
}
